{% extends './../layout.html' %}
{% load static %}
{% block content %}

<div class="m-3 px-2 col-xs-12 col-sm-11 col-md-10 col-lg-9 col-xl-7 mx-auto d-flex flex-column">
    <div class="my-2 p-1 d-flex flex-wrap justify-content-md-evenly justify-content-center align-items-center border border-warning rounded">
        {% if not trash %}
        <a href='new' class="btn btn-outline-dark btn-sm me-2">+ Создать</a>
        {% endif %}

        {% if not trash %}
        <a href="trash" class="btn btn-outline-dark btn-sm"><i class="bi bi-trash me-1"></i>Корзина</a>
        {% endif %}

        {% if trash %}
        <a href={% url 'notes:index' %} class="btn btn-sm btn-outline-dark"><i class="bi bi-arrow-left me-1"></i>Назад</a>
        {% endif %}
        <form action="" class="d-flex justify-content-sm-center m-1">
            <div class="input-group input-group-sm">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-funnel"></i></span>

                <select class="form-select form-control" name="sort">
                    <option value="date_update" {{ select_param.date_update }}>Дата обновления</option>
                    <option value="date_create" {{ select_param.date_create }}>Дата создания</option>
                    {% if trash %}
                    <option value="date_to_trash" {{ select_param.date_to_trash }}>Дата удаления</option>
                    {% else %}
                    <option value="date_to_trash" {{ select_param.date_to_trash }}>Дата автоматич. удаления</option>
                    {% endif %}
                </select>

                <input type="checkbox" class="btn-check" id="sort-reverse" autocomplete="off" name="reverse" value="true">
                <label class="btn btn-outline-dark" for="sort-reverse"><i class="bi bi-arrow-down-up"></i></label>

                <button class="btn btn-outline-dark btn-sm" type="submit">Применить</button>
            </div>
        </form>
    </div>

{% for note in notes %}
    <div class="my-1 p-2 d-flex flex-row align-items-center border border-dark rounded">
        <!--<a href={{ note.id }} class="flex-grow-1 text-break" style="text-decoration: none">{{ note.name }}</a>-->
        {% if note.favourites == True %}
            <div class="star me-2"></div>
        {% endif %}
        <a class="flex-grow-1 text-break text-dark ms-2" style="text-decoration: none" href={% url 'notes:note' note.id %}>{{ note.name }}</a>

        {% if not trash %}
        <form method="post" action="{% url 'notes:change_favourites' note.id %}" class="ms-2">
            {% csrf_token %}
            <button type="submit" style="border: none; background: none"><a href=""><i class="bi bi-star"></i></a></button>
        </form>

        <a href={% url 'notes:note' note.id %} class="ms-2"><i class="bi bi-pencil-square"></i></a>

        <form method="post" action="{% url 'notes:to_trash' note.id %}" class="ms-2">
            {% csrf_token %}
            <button type="submit" style="border: none; background: none"><a href=""><i class="bi bi-trash"></i></a></button>
        </form>
        {% endif %}
        
        {% if trash %}

        <form method="post" action="{% url 'notes:recover' note.id %}" class="ms-2">
            {% csrf_token %}
            <button type="submit" style="border: none; background: none"><a href=""><i class="bi bi-arrow-counterclockwise"></i></a></button>
        </form>

        <form method="post" action="{% url 'notes:delete' note.id %}" class="ms-2">
            {% csrf_token %}
            <button type="submit" style="border: none; background: none"><a href=""><i class="bi bi-x-circle-fill"></i></a></button>
        </form>
        {% endif %}
    </div>

    

{% endfor %}
</div>

<style>
    .star {
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("{% static 'icons/star.png' %}");
    }
</style>
{% endblock %}