.clr-1 {
    color: #3D5A80;
}
.bg-1 {
    background-color: #3D5A80;
}

.clr-2 {
    color: #98C1D9;
}
.bg-2 {
    background-color: #98C1D9;
}

.clr-3 {
    color: #E0FBFC;
}
.bg-3 {
    background-color: #E0FBFC;
}

.clr-4 {
    color: #EE6C4D;
}
.bg-4 {
    background-color: #EE6C4D;
}

.clr-5 {
    color: #293241;
}
.bg-5 {
    background-color: #293241;
}

